<h1> Mettre ici l'album photo des stars </h1>
{{#each PhotoVipAlbum }}
<a href="/images/vip/{{this.Photo_Star}}" title=""><img class="imagevip" src="/images/vip/{{this.Photo_Star}}" alt=""></a>

{{/each}}
