body {
    font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    background-image:-webkit-linear-gradient(#9f0909, #4e0000);
    background-image:-o-linear-gradient(#9f0909, #4e0000);
    background-image:linear-gradient(#9f0909, #4e0000);
    background-size: 1rem 200rem;
    font-size:0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background:#ffffff;
}
.monBody #header {
    height:140px;
    background-color:#000;
    color:#fff;
}

.menu_haut {background-color:#000;color:#fff;margin-top:-13px;width:100%;}
.menu_haut ul {
	width:100%;
	text-align:center;
	height:30px;
	margin-left:-50px;
	margin-right:-50px;
	}
.menu_haut li {
	text-decoration:none;
	font-weight:bold;
	display:inline;
	font-size:14px;
	padding:10px 10px 10px 10px;
	color:#fff;
	}
.menu_haut li a {
	color: #fff;
	text-decoration: none;
	display: inline;
	height: 100%;
	border: 0 none;
}
.menu_haut li a:hover {
	color:#000;
	background:#eee;
}

.monBody #contenu {
    padding:20px;
    overflow: auto;
}
.monBody #footer {
    padding: 0 10px;
    font-size:0.8em;
    text-align:center;
    height:150px;
    background:url(/image/footer.jpg) no-repeat;
}
.baniere{float:left;
  margin-top:20px;
  margin-left:5px;
  border:none;}
.baniere img{
  border:none;
}

#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

a  {
    text-decoration:none;
    color:#0072ff;
}

.traitVertical {
  border-left: 1px white solid;
}


.photoStar {
    text-align: center;
    display: block;
    float: left;
    width: 25%;
}

.photoStar img{
    max-width: 30%;
}

#choixLettre{
    text-align: center;
    margin: 2%;
}

#choixLettreDetails{
    float: right;
    margin-top: 0px;
    margin-bottom: 2%;
}

#details{
    text-align: left;
    margin-left: 2%;
}

#allphotos{
    float: none;
}

.page{
    border: solid;
}
.tablevip table,th,td {
    float:right;
    width: 50px;
    font-size: 1em;
    
}

#tab{
    margin-left: 30%;
  
}
.tabarticle table,th,td{
    float:left;
    width: 500px;
    font-size: 1em;
    border: 1px solid black;

    
}

.grid{
    display: grid;
    grid-template: repeat(3, 200px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
}
.grid img{
    width:200px;
    cursor: pointer;
}
#lightbox{
    position:fixed;
    z-index: 1000;
    top:0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0 green,0 blue,.8 alpha);
}
#lightbox.active{
    display:flex;
    justify-content: center;
    align-items:center;
}
.photo_Star img {
    max-width:30%;
}
.imagevip{
width:150px;}